<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Elastic APM</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
	@Html.ActionLink("Elastic APM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
			</li>
			<li class="nav-item">
				@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
			</li>
			<li class="nav-item">
				@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
			</li>
			<li class="nav-item">
				@Html.ActionLink("Diagnostics", "Index", "Diagnostics", null, new { @class = "nav-link" })
			</li>
			<li class="nav-item">
				<a href="@Url.Content("~/Webforms.aspx")" class="nav-link">Webforms</a>
			</li>
			<li class="nav-item">
            	<a href="@Url.RouteUrl("RoutedWebforms", new {})" class="nav-link">RoutedWebforms</a>
            </li>
		</ul>
		@Html.Partial("_LoginPartial")
	</div>
</nav>
<div class="container body-content mt-5">
	@Html.Alert()
	@RenderBody()
	<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - Elastic APM</p>
	</footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>